<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d867.7514220584603!2d25.316697800499156!3d50.7145537551826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4725997e35f529e9%3A0xeba249b67a64b0a9!2sInternetDevels!5e0!3m2!1sru!2sua!4v1597675254105!5m2!1sru!2sua" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>

<section class="contacts">
    <div class="content_wrapper">
        <div class="item_wrapper">
            <img class = "myimg"src="img/phone-alt.svg" alt="">
            <h2>Телефон</h2>
            <p><a href>+38 067 332 17 55</a></p>
        </div>
        <div class="item_wrapper">
            <img src="img/envelope.svg" alt="">
            <h2>E-mail</h2>
            <p>office@it.volyn.ua</p>
        </div>
        <div class="item_wrapper">
            <img src="img/map-marker-alt.svg" alt="">
            <h2>Адреса</h2>
            <p>вул. Боженка 34г, Луцьк</p>
        </div>
        <div class="item_wrapper">
            <img src="img/facebook-f.svg" alt="">
            <h2>Facebook</h2>
            <p><a href="">facebook.com/oxitschool</a></p>
        </div>
</section>
<section class="policy">
    <div class="content_wrapper">
        <p>&copy;&thinsp; Copyright 2018-2020 Internet Devels</p>
        <p><a href=""> Умови політики конфіденційності</a></p>
    </div>
</section>

<script src="js/main.min.js"></script>
