<header>
    <div class="content_wrapper">    
        <div class="image_wrapper">
            <img src="../img/logo_Oxit.png" alt="">
        </div>
        <nav class="main_menu">
            <ul>
                <li><a href="#registration">Головна</a></li>
                <li><a href="#web_development">Програма курсу</a></li>
                <li><a href="#students_feedback">Відгуки про курс</a></li>
                <li><a href="#video">Відео</a></li>
                <li><a href="#mentors">Ментори</a></li>
                <li class="button"><a href="#registration">Подати заявку</a></li>
            </ul>
        </nav>
        <nav class="main_menu mobile_menu">
            <ul>
                <li><a href="#registration">Головна</a></li>
                <li><a href="#web_development">Програма курсу</a></li>
                <li><a href="#students_feedback">Відгуки про курс</a></li>
                <li><a href="#video">Відео</a></li>
                <li><a href="#mentors">Ментори</a></li>
                <li class="button"><a href="#registration">Подати заявку</a></li>
            </ul>
        </nav>
        <button class="menu_button"><img src="img/burger2.png" alt=""></button>
    </div>
</header>